<div class="mat-form-field-label-wrapper">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <ng-container *ngIf="questions">
      </ng-container>
      <mat-card *ngFor="let question of questions, let i = index" class="mt-5">
        <mat-card-content>
          <p><b>{{ i + 1 }})</b> <span class="ml-2" [innerHTML]="question.description"></span></p>
          <mat-divider> </mat-divider>
          <div class="row mt-5">
            <div class="col-md-6">
              <input type="radio" [(ngModel)]="question.givenAnswer" value="firstOption" name={{i}} />
              {{question.answerOptionsSet.firstOption}}
            </div>
            <div class="col-md-6">
              <input type="radio" [(ngModel)]="question.givenAnswer" value="secondOption" name={{i}} />
              {{question.answerOptionsSet.secondOption}}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <input type="radio" [(ngModel)]="question.givenAnswer" value="thirdOption" name={{i}} />
              {{question.answerOptionsSet.thirdOption}}
            </div>
            <div class="col-md-6">
              <input type="radio" [(ngModel)]="question.givenAnswer" value="fourthOption" name={{i}} />
              {{question.answerOptionsSet.fourthOption}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="container text-center mt-3 mb-3">
          <button mat-raised-button color="primary" (click)="finishQuiz()" >Завершити тест</button>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    </div>
  </div>
</div>

